/*BASIC*/
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

#control-panel {
    margin-bottom: 20px;
    /* Add more styles for your control panel here */
}

.tooltip {    
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  position: absolute;
  text-align: center;
  visibility: hidden; /* Hide tooltip initially */
  border-radius: 6px;
  pointer-events: none;
  z-index: 10;
}
